<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= "Asked by #{User.find_by_id(@question.user_id).name}" %>
<% @comments.each do |comment| %>
    <div class="well">
      <p><%= comment.content %></p>
      <% comment_author = User.find_by_id(comment.user_id).name %>
      <p><%= comment_author %></p>
      <%= link_to 'Edit Comment', [:edit, comment], class: 'btn btn-info btn-sm' %>
      <%= link_to 'Delete Comment', comment_path(comment), method: :delete, data: {confirm: 'Are you sure ?'} %>
    </div>
<% end %>

<%= link_to 'New Comment', new_question_comment_path(@question), class: 'btn btn-success' %>