<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<% user = User.find_by_id(@question.user_id) %>
<p>Asked by <%= link_to user.name, user_path(user) %></p>
<hr>
<h3 class="text-center text-success">Answer Section</h3>

<%= render partial: 'comments/show', collection: @question.comments.order('created_at DESC'), as: :comment %>

<%= render 'form_for_new_comments' %>