<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= "Asked by #{User.find_by_id(@question.user_id).name}" %>
<% @comments.each do |comment| %>
    <div class="well" id=comment.id >
      <p><%= comment.content %></p>
      <% comment_author = User.find_by_id(comment.user_id).name %>
      <p><%= comment_author %></p>
      <%= link_to 'Edit Comment', [:edit, comment], class: 'btn btn-info btn-sm' %>
      <%= link_to 'Delete Comment', comment_path(comment), method: :delete, data: {confirm: 'Are you sure ?'} %>
    </div>
<% end %>

<%= link_to 'New Comment', new_question_comment_path(@question), class: 'btn btn-success' %>
<script>
  if ($('#dropdown_id').length > 0)
  {
    setInterval(function() {
      getNewNotifications();
    }, 5000);



    function getNewNotifications()
    {
      $.ajax({
        dataType: "json",
        url: '/notifications.json',
        success: function(data){
          if(data.length > 0)
          {
            $('.badge').text(data.length);
          }
          else
          {
            $('.badge').text('');
          }
        }
      });
    }

    function success(data) {
      $('#items').empty();
      $.map(data, function (key) {
        $('#items').append("<li><a href=" + key.url + ">" + key.actor + " " + key.action + " " + key.notifiable.type + " to your question</a></li>")
      });
    }

    $('#notification_link').on("click", function() {
      $.ajax({
        dataType: "json",
        url: '/notifications.json',
        success: function(data){
          if(data.length > 0)
          {
            success(data)
            $.ajax({
              url: "/notifications/mark_as_read",
              dataType: "JSON",
              method: "POST",
              success: function(){
                $('.badge').text('');
              }
            })
          }
          else
          {
            $('#items').empty()
            $('#items').append("<li><a href=''>There are no new notifications</a></li>")
          }
        }
      });
    });
  }
</script>