<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= "Asked by #{User.find_by_id(@question.user_id).name}" %>
<% @comments.each do |comment| %>
    <div class="well">
      <p><%= comment.comment %></p>
      <% comment_author = User.find_by_id(comment.user_id).name %>
      <p><%= comment_author %></p>
    </div>
<% end %>

<%= link_to 'New Comment', new_question_comment_path(@question), class: 'btn btn-success' %>