<%= simple_form_for [@category, @tutorial, @info, @note], input_html: { class: 'form-horizontal'} do |f| %>
    <div class="modal fade" id="newNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Note</h4>
          </div>
          <div class="modal-body">
            <div id="error_explanation" style="display:none;"></div>
            <div class="form-group">
              <%= f.input :title, validate: true, autofocus: true, input_html: { class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.input :content, as: :wysihtml5, input_html: { class: 'form-control', id: 'description-textarea'} %>
            </div>
            <%= f.input :task, label: 'Mark if it is a task' %>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>
  $('#description-textarea').wysihtml5({toolbar:
  {
    'blockquote': false,
    'image': false,
    'lists': false,
    'emphasis': {
      'small': false,
      'underline': false
    },
    'link': false
  }})
</script>