<style>
  body {
    background: #6a3093; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6a3093 , #a044ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6a3093 , #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
<div class="container">
  <div class="jumbotron">
    <div class="row top">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center" >Welcome to Codersations <i class="fa fa-smile-o"></i></h1>
        <p class="text-center">Providing the best environment for eager students to learn code  </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to 'Sign Up with GitHub', user_omniauth_authorize_path(:github), class: 'btn btn-primary pull-left' %>
        <button class="btn btn-primary pull-right" disabled>Login with BitBucket</button>
        <br>
        <hr>
        <h3 class="text-center">Or</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center text-info">Register</h3>
          </div>
          <div class="panel-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>              <fieldset>
            <%= f.error_notification %>
            <div class="form-group">
              <%= f.input :name, label: 'Name', autofocus: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.input :email, required: true, label: 'Email' %>
            </div>
            <div class="form-group">
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation, required: true %>
            </div>
            <div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
            </div>
            <%= f.button :submit, "Sign up", class: 'btn btn-success' %>
            <br>
            <small class="text-center"><%= link_to 'Forgot your password ?', new_user_password_path %></small>
          </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>