<div class="well" id=<%=comment.id %>>
  <p><%= comment.content.html_safe %></p>
  <% comment_author = User.find_by_id(comment.user_id).name %>
  <p><%= comment_author %></p>
  <%= link_to 'Edit Comment', [:edit, comment], class: 'btn btn-info btn-sm' %>
  <%= link_to 'Delete Comment', comment_path(comment), method: :delete, remote: true, data: {confirm: 'Are you sure ?'} %>
</div>