<h1>Snippet</h1>
<h2><%= @snippet.title %></h2>
<% if @snippet.template_id? %>
    <p>Template reference <%= link_to @template.name, category_template_path(@template.category, @template) %></p>
<% end %>
<small><%= @snippet.author.name %></small>
<p><%= @snippet.content.html_safe %></p>
<% if policy(@snippet).update? %>
    <%= link_to 'Edit Snippet', [:edit, @category, @snippet], class: 'btn btn-primary' %>
<% end %>
<% if policy(@snippet).destroy? %>
    <%= link_to 'Delete Snippet', [@category, @snippet],
                class: 'btn btn-danger', method: :delete,
                data: {confirm: 'Are you sure ?'} %>
<% end %>

<% if policy(@snippet).update? %>
    <% if @snippet.publish? %>
        <%= link_to 'Make Snippet go offline', unpublish_category_snippet_path(@category, @snippet), method: :put, class: 'btn btn-danger publish' %>
    <% else %>
        <%= link_to 'Publish', publish_category_snippet_path(@category, @snippet), method: :put, class: 'btn btn-success unpublish' %>
    <% end  %>
<% end  %>

<% if @snippet.marked_as_like? by: current_user %>
    <%= link_to 'Liked', [:dislike, @category, @snippet], method: :put, class: 'btn btn-primary' %>
<% else %>
    <%= link_to 'Like', [:like, @category, @snippet], method: :put, class: 'btn btn-default' %>
<% end %>
<% if @snippet.marked_as_favorite? by: current_user %>
    <%= link_to 'Remove bookmark', [:remove_bookmark, @category, @snippet], method: :put, class: 'btn btn-primary' %>
<% else %>
    <%= link_to 'Bookmark', [:bookmark, @category, @snippet], method: :put, class: 'btn btn-default' %>
<% end %>