<% if @template.publish %>
    <%= link_to 'Hide Template', unpublish_category_template_path(@category, @template), class: 'btn btn-danger', method: :put%>
<% else %>
    <%= link_to 'Publish Template', publish_category_template_path(@category, @template), class: 'btn btn-success', method: :put%>
<% end %>
<%= @template.category.name %>
<%= link_to @template.author.name, user_path(@template.author) %>
<br>
<%= link_to 'Create new page', new_category_template_infopage_path(@category, @template) %>
<h1><%= @template.name %></h1>
<h2>Description</h2>
<p><%= simple_format(@template.description) %></p>
<h2>Points Covered</h2>
<p><%= simple_format(@template.points_covered) %></p>