<h2 class="text-center text-info">Category: <%= @category.name.capitalize! %></h2>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Stats for this category</h3>
      </div>
      <div class="panel-body">
        <p><%= pluralize(@category.templates.where(publish: true).count, 'template') %> published</p>
        <p><%= pluralize(@category.templates.where(publish: false).count, 'template') %> waiting to be published</p>
        <p><%= pluralize(total_contributors_count_in_category(@category), 'contributor') %> in this category</p>
        <p><%= pluralize(total_snippet_count_in_category_published(@category), 'snippet') %> published</p>
        <p><%= pluralize(total_snippet_count_in_category_unpublished(@category), 'snippet') %> waiting to be published</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Analytics</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>

<% @category.tutorials.each do |tutorial| %>
    <% unless tutorial.publish? %>
        <%= link_to tutorial.title, [@category, tutorial] %>
    <% end %>
<% end %>