<h1><%= @user.name %></h1>
<%= gravatar_tag @user.email, size: 100, d: :identicon %>
<% if @user != current_user %>
    <% if @user.marked_as_follow? by: current_user %>
        <%= link_to 'Unfollow', unfollow_user_path(@user), method: :put, class: 'btn btn-warning' %>
    <% else %>
        <%= link_to 'Follow', follow_user_path(@user), method: :put, class: 'btn btn-info' %>
    <% end %>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>Template created by this author</th>
  </tr>
  </thead>
  <tbody>
  <% @templates.each do |t| %>
      <tr>
        <th><%= link_to t.name, category_template_path(t.category, t) %></th>
      </tr>
  <% end %>
  </tbody>
</table>
<table class="table">
  <thead>
  <tr>
    <th>Tutorials created by this author</th>
  </tr>
  </thead>
  <tbody>
  <% @tutorials.each do |t| %>
      <tr>
        <th><%= link_to t.title, category_tutorial_path(t.category, t) %></th>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-4">
    <h3>Users I follow</h3>
    <% @user.follow_users.each do |user| %>
        <br>
        <%= link_to user.email, user_path(user) %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Users who follow me</h3>
    <% @user.users_have_marked_as(:follow).each do |user| %>
        <br>
        <%= link_to user.email, user_path(user) %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Favorite Tutorials</h3>
    <% @user.favorite_tutorials.each do |tutorial| %>
        <%= link_to tutorial.title, category_tutorial_path(tutorial.category, tutorial) %>
        <br>
    <% end %>
  </div>
</div>

