<%= simple_form_for [@category, @tutorial] do |f| %>
    <%= f.input :title, required: true %>
    <div class="form-group">
      <%= f.input :description, class:'summernote' %>
    </div>
    <%= f.input :points_covered %>
    <%= f.input :link_to_repo %>
    <%= f.button :submit, class: 'btn btn-success' %>
<% end %>