<h1><%= @tutorial.title %></h1>
<% if @tutorial.marked_as_favorite? by: current_user %>
    <%= link_to 'Remove from bookmarks', dislike_category_tutorial_path(@category, @tutorial), method: :put %>
<% else %>
    <%= link_to 'Add to bookmarks', like_category_tutorial_path(@category, @tutorial), method: :put %>
<% end %>

<h2>Contributors</h2>
<% list_contributors(@tutorial.contributors, @tutorial).each do |user| %>
    <% user = User.find_by_name(user) %>
    <div class="contributor">
      <%= gravatar_tag user.email, size: 20 %>
      <%= link_to user.name, user_path(user) %>
    </div>
    <br>
<% end %>

<% if has_access?(current_user, @tutorial) %>
    <%= link_to 'Add an info sheet', new_category_tutorial_info_path(@category, @tutorial), class: 'btn btn-success' %>
<% end %>


<div class="row">
  <div class="col-md-6">
    <h3>Users to add to tutorial</h3>
    <% if @tutorial.author == current_user %>
        <% current_user.users_have_marked_as_follow.each do |user| %>
            <br>
            <%= link_to user.email, user_path(user) %>
            <% if Contributor.exists?(tutorial: @tutorial, member: user, access: true) %>
                <%= link_to 'Remove member', remove_member_category_tutorial_path(@category, @tutorial, user: user), method: :put, class: 'btn btn-danger' %>
            <% else %>
                <%= link_to 'Add member', add_member_category_tutorial_path(@category, @tutorial, user: user), method: :put, class: 'btn btn-success' %>
            <% end %>
            <br>
            <% if current_user.admin %>
                <%= link_to 'Revoke User Access', admin_remove_member_category_tutorial_path(@category, @tutorial, user: user), method: :put, class: 'btn btn-warning' %>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-6"></div>
</div>

<p>By:- <%= link_to @tutorial.author.name, user_path(@tutorial.author) %> in category: <%= @tutorial.category.name %></p>
<p><%= @tutorial.description.html_safe %></p>

<h2>Pages in this tutorial</h2>
<ol>
  <% @infos.each do |info| %>
      <li><%= link_to info.title, category_tutorial_info_path(@category, @tutorial, info) %></li>
      <br>
  <% end %>
</ol>