<h2 class="text-center text-info">Search Result</h2>
<p>You searched for: <%= params[:q].to_s %></p>
<p>Search hits: <%= @all.count %></p>
<hr>
<% @all.each do |all| %>
    <% if all.class.name == 'Category' %>
        <%= link_to all.name, category_path(all) %>
    <% elsif all.class.name == 'Tutorial' %>
        <% if policy(all).show? %>
            <%= link_to all.title, category_tutorial_path(all.category, all) %>
        <% end %>
    <% elsif all.class.name == 'Template' %>
        <% if policy(all).show? %>
            <%= link_to all.name, category_template_path(all.category, all) %>
        <% end %>
    <% elsif all.class.name == 'Info' %>
        <% if policy(all).show? %>
            <%= link_to all.title, category_tutorial_info_path(all.tutorial.category, all.tutorial, all ) %>
        <% end %>
    <% elsif all.class.name == 'InfoPage' %>
        <% if policy(all).show? %>
            <%= link_to all.title, category_template_path(all.template.category, all.template, all) %>
        <% end %>
    <% elsif all.class.name == 'User'%>
        <%= link_to all.name, user_path(all) %>
    <% end %>
        <br>
<% end %>
<% if @all.count == 0 %>
    <h3 class="text-center text-danger">No results found</h3>
<% end %>
<br><br>
<%= paginate(@all) %>
