<div class="container-fluid">
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Codersations<span class="blink" style="visibility: hidden;">_</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @categories = Category.all %>
              <% @categories.each do |category| %>
                  <li><%= link_to category.name, category_path(category)%></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <%= form_tag search_path, class: 'navbar-form navbar-left', role: 'search' , method: :get do %>
            <div class="form-group">
              <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search', id: 'tags' %>
            </div>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <% if current_user.admin %>
                  <li><%= link_to 'Admin Dashboard', admin_root_path %></li>
              <% end %>
              <li style="padding-top: 2%"><%= gravatar_tag current_user.email, :size => 50, d: :identicon, html: {class: 'img-circle'} %></li>
              <li><%= link_to current_user.first_name, current_user %></li>

              <li class="dropdown" id="dropdown_id">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="notification_link"><i class="fa fa-bell"></i><span class="badge"></span></a>
                <ul class="dropdown-menu" id="items">
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Settings', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>
<!--Script for Ajax Notifications-->
<script>
  var availableTags = [
    "",
    "ActionScriptaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    "AppleScript",
    "Asp",
    "BASIC",
    "C",
    "C++",
    "Clojure",
    "COBOL",
    "ColdFusion",
    "Erlang",
    "Fortran",
    "Groovy",
    "Haskell",
    "Java",
    "JavaScript",
    "Lisp",
    "Perl",
    "PHP",
    "Python",
    "Ruby",
    "Scala",
    "Scheme"
  ];
  $( "#tags" ).autocomplete({
    source: availableTags
  });




  if ($('#dropdown_id').length > 0)
  {
    setInterval(function() {
      getNewNotifications();
    }, 5000);

    function getNewNotifications()
    {
      $.ajax({
        dataType: "json",
        url: '/notifications.json',
        success: function(data){
          if(data.length > 0)
          {
            $('.badge').text(data.length);
          }
          else
          {
            $('.badge').text('');
          }
        }
      });
    }

    function success(data) {
      $('#items').empty();
      $.map(data, function (key) {
        $('#items').append("<li><a href=" + key.url + ">" + key.actor + " " + key.action + " " + key.notifiable.type + "</a></li>")
      });
    }

    $('#notification_link').on("click", function() {
      $.ajax({
        dataType: "json",
        url: '/notifications.json',
        success: function(data){
          if(data.length > 0)
          {
            success(data)
            $.ajax({
              url: "/notifications/mark_as_read",
              dataType: "JSON",
              method: "POST",
              success: function(){
                $('.badge').text('');
              }
            })
          }
          else
          {
            $('#items').empty()
            $('#items').append("<li><a href='#'>There are no new notifications</a></li>")
          }
        }
      });
    });
  }
</script>
<style>
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  }
  .ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
  .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
  }
</style>