<!DOCTYPE html>
<html>
<head>
  <title>Codersations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body <%= "data-no-turbolinks='true'".html_safe if controller_name=="categories" %>>
<div class="container-fluid">
  <br>
  <br>
  <br>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>


</body>
</html>
